<!-- head.js -->

<meta charset="utf-8" />
<meta name="author" content="NOYEL Cédric">
<meta name="description" content="Testing a NodeJS app with framework and EJS templates">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="../../javascripts/jquery.js"></script>
<title><%- title -%></title>

<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
